<?xml version="1.0"?>
<robot name="tyres" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="tyre" params="link_name">
            <link
                    name="${link_name}">
                <inertial>
                    <origin
                            xyz="0 0 0"
                            rpy="0 0 0" />
                    <mass
                            value="6.0287" />
                    <inertia
                            ixx="0.13838"
                            ixy="2.28E-06"
                            ixz="-7.8075E-10"
                            iyy="0.071775"
                            iyz="-7.4764E-09"
                            izz="0.071775" />
                </inertial>
                <visual>
                    <origin
                            xyz="0 0 0"
                            rpy="-1.57 0 0" />
                    <geometry>
                        <mesh
                                filename="package://robot_description/meshes/tyre.STL" />
                    </geometry>
                    <material
                            name="">
                        <color
                                rgba="0.15294 0.15294 0.15294 1" />
                    </material>
                </visual>
                <collision>
                    <origin
                            xyz="0 0 0"
                            rpy="-1.57 0 0" />
                    <geometry>
                        <mesh
                                filename="package://robot_description/meshes/tyre.STL" />
                    </geometry>
                </collision>
            </link>
    </xacro:macro>
</robot>
